public/rxrepo/os/x86_64/osu-lazer-bin-2025.607.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
public/rxrepo/os/x86_64/xmcl-launcher-0.51.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
